h1,
p,
h4,
ul,
ol,
head,
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul, 
ol {
    display: inline-block;
    text-align: left;
}